/** for <a> without href */
.clickable {
    cursor: pointer;
}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.notification {
    background-color: #3498db;
    color: #ffffff;
    font-size: 1em;
    border: solid 1px #3498db;
    border-radius: 4px;
    position: relative;
    margin: 3px 3px 3px 0;
    padding: 15px;
    height: 54px;
}

.notification.ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    max-height: 0;
    opacity: 0;
    left: -50px;
}

.notification.ng-enter.ng-enter-active {
    max-height: 54px;
    opacity: 1;
    left: 0;
}

.notification.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from {
    max-height: 54px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from {
    max-height: 54px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}

@-moz-keyframes my_animation {
  from {
    max-height: 54px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}

@-o-keyframes my_animation {
  from {
    max-height: 54px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}
