<div class="container">
    <h2>Hybrid page (HTTP/websocket)</h2>
    <ul>
        <li>a bulk set of timeseries data is retrieved via the HTTP data API</li>
        <li>then updates comes through the data websocket API</li>
    </ul>

    <timeseries measures="tsCtrl.measures"></timeseries>
</div>
