<div class="container">
    <h2>Websocket-only page</h2>
    <ul>
        <li>notifications comes through the websocket data API</li>
    </ul>

    <h3>Subscription to the notifications channel</h3>
    <p><a ng-click="notifCtrl.subscribe()" class="btn btn-primary">Subscribe</a>: subscribes the socket to the notifications channel. This view automatically subscribes to the channel but you can test that multiple subscription requests do not add up (the same notification is sent only once).</p>
    <p><a ng-click="notifCtrl.dispose()" class="btn btn-warning">Dispose</a>: removes the socket subscription from the notification channel. Multiple disposals don't break anything. Without subscription, the server does not produce anything.</p>

    <h3>Notifications</h3>
    <p>Only the last 5 notifications will be displayed:</p>

    <div class="notification" ng-repeat="notification in notifCtrl.notifications">
        <b>{{notification.title}}</b>: about <strong>{{notification.meter}}.
    </div>
</div>
