<div class="container">
    <div class="well">
        <form class="form-horizontal" method="post" ng-submit="loginCtrl.authenticate()">
            <fieldset>
                <legend>You need to login in order to access this section</legend>
                <div class="form-group">
                    <label for="inputLogin" class="col-lg-2 control-label">Login</label>
                    <div class="col-lg-10">
                        <input class="form-control" ng-model="loginCtrl.credentials.login" id="inputLogin" placeholder="Login" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" ng-model="loginCtrl.credentials.password" id="inputPassword" placeholder="Password" type="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-info" ng-disabled="loginCtrl.authenticating">Authenticate</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
