<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#switch-auth-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Mixed APIs</a>
		</div>
		<div class="collapse navbar-collapse" id="switch-auth-navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="menuCtrl.page.name == 'public' ? 'active' : ''"><a href="#/public">Public</a></li>
				<li class="dropdown" ng-class="menuCtrl.page.name.indexOf('auth') == 0 ? 'active' : ''">
					<a class="dropdown-toggle clickable" data-toggle="dropdown" role="button" aria-expanded="false">Authenticated <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-class="menuCtrl.page.name == 'auth-timeseries' ? 'active' : ''"><a href="#/auth/timeseries">Time series (mixed APIs)</a></li>
						<li class="divider"></li>
						<li ng-class="menuCtrl.page.name == 'auth-notifications' ? 'active' : ''"><a href="#/auth/notifications">Notifications (websocket only)</a></li>
					</ul>
				</li>
                <!-- <li ng-class="menuCtrl.page.name == 'auth-home' ? 'active' : ''"><a href="#/auth/home">Authenticated (http/websocket)</a></li> -->
			</ul>
			<!-- menu section for authenticated users -->
			<div ui-view="user"></div>
		</div>
	</div>
</nav>

<div ui-view="public"></div>

<div ui-view="auth">
	<div ui-view="home"></div>
	<div ui-view="login"></div>
</div>

<div ui-view="websocket"></div>
