<div class="container">
    <div class="jumbotron">
        <h1>Mixed APIs</h1>
        <p>An application demonstrating how HTTP and websocket APIs can cooperate.</p>
    </div>

    <p>This is a public page available without authentication.</p>

    <p>Then, there are two sections requiring authentication:</p>
    <ul>
        <li>the <a href="#/auth/timeseries">hybrid section</a> where metrics are retrieved via HTTP and websockets</li>
        <li>the <a href="#/auth/notifications"> websocket section</a> where notifications are received only via websockets</li>
    </ul>

    <p>
        This application uses <a href="http://reactivex.io/documentation/observable.html" target="_blank">RxJS observables</a> to let the user subscribes only to the expected event channels.
    </p>
</div>
