<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle clickable" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{userCtrl.user.login}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="clickable" ng-click="userCtrl.logout()">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                </a>
            </li>
        </ul>
    </li>
</ul>
