<div class="">
    <h1>Websocket page</h1>
    <ul>
        <li>you have been authenticated via websocket</li>
        <li>a bulk set of data is retrieved via the websocket data API bridge</li>
        <li>then updates comes through the websocket data API</li>
    </ul>
</div>
